body {
  background: #000;
    font-family: "Roboto", sans-serif;
   
    background-image: url("aaq.jpeg");
      background-repeat: no-repeat;
      
      height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  }
  /* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.5\rem 8%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
  }
  .header .logo{
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    padding-right: 10px;
    margin-right: 10rem;
  }
  .header .logo i{
    color: #fff;
    padding: 0.5rem;
  }
  .header .navbar a{
    font-size: 1.1rem;
    margin: 0 1rem;
    color: #fff;
  }
  .header .navbar a:hover{
    color: #baa6cf;
  }
  .header .btn{
    background: transparent;
    color: tomato;
    border: 1px solid tomato;
    font-size: 12px;
    padding: 8px;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    padding-top: 100px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    margin-top: 250px;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  
  